.Container {
    max-width: 700px;
    margin: 0 auto;
    color: var(--body);
    min-width: 238px;
    margin-top: 2rem;
}
.Content {
    color: var(--heading);
    a {    
        color: var(--highlight);
        font-weight: 700;
    }
    h1:hover {
        text-decoration: underline;
        cursor:pointer;
    }
}
.ContentItem {
    margin-bottom: 2rem;
    
    a {
        color: var(--heading);
    }
}